PORT=8000
DATABASE_URL=postgresql://postgres:Zanzan35777db.XXXXX.supabase.co:5432/postgres
JWT_SECRET=isi_random_string_minimal_32_karakter_disini
JWT_EXPIRES_IN=7d
CLIENT_URL=https://daymirror.vercel.app
